<%= form_for @drawing do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :drawing_type %><br />
    <%= f.text_field :drawing_type %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :rev %><br />
    <%= f.text_field :rev %>
  </p>
  <p>
    <%= f.label :format %><br />
    <%= f.text_field :format %>
  </p>
  <p>
    <%= f.label :sheet %><br />
    <%= f.text_field :sheet %>
  </p>
  <p>
    <%= f.label :descr %><br />
    <%= f.text_field :descr %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :assembly %><br />
    <%= f.text_field :assembly %>
  </p>
  <p>
    <%= f.label :designer %><br />
    <%= f.text_field :designer %>
  </p>
  <p>
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </p>
  <p>
    <%= f.label :cad_flag %><br />
    <%= f.text_field :cad_flag %>
  </p>
  <p>
    <%= f.label :void_mark %><br />
    <%= f.text_field :void_mark %>
  </p>
  <p>
    <%= f.label :voided_at %><br />
    <%= f.text_field :voided_at %>
  </p>
  <p>
    <%= f.label :replaced_by %><br />
    <%= f.text_field :replaced_by %>
  </p>
  <p>
    <%= f.label :change_descr %><br />
    <%= f.text_field :change_descr %>
  </p>
  <p>
    <%= f.label :modified_by %><br />
    <%= f.text_field :modified_by %>
  </p>
  <p>
    <%= f.label :modified_at %><br />
    <%= f.text_field :modified_at %>
  </p>
  <p>
    <%= f.label :bom_flag %><br />
    <%= f.text_field :bom_flag %>
  </p>
  <p><%= f.submit %></p>
<% end %>
