<% title "Drawing" %>

<p>
  <strong>Drawing Type:</strong>
  <%= @drawing.drawing_type %>
</p>
<p>
  <strong>Number:</strong>
  <%= @drawing.number %>
</p>
<p>
  <strong>Rev:</strong>
  <%= @drawing.rev %>
</p>
<p>
  <strong>Format:</strong>
  <%= @drawing.format %>
</p>
<p>
  <strong>Sheet:</strong>
  <%= @drawing.sheet %>
</p>
<p>
  <strong>Descr:</strong>
  <%= @drawing.descr %>
</p>
<p>
  <strong>Title:</strong>
  <%= @drawing.title %>
</p>
<p>
  <strong>Assembly:</strong>
  <%= @drawing.assembly %>
</p>
<p>
  <strong>Designer:</strong>
  <%= @drawing.designer %>
</p>
<p>
  <strong>Area:</strong>
  <%= @drawing.area %>
</p>
<p>
  <strong>Cad Flag:</strong>
  <%= @drawing.cad_flag %>
</p>
<p>
  <strong>Void Mark:</strong>
  <%= @drawing.void_mark %>
</p>
<p>
  <strong>Voided At:</strong>
  <%= @drawing.voided_at %>
</p>
<p>
  <strong>Replaced By:</strong>
  <%= @drawing.replaced_by %>
</p>
<p>
  <strong>Change Descr:</strong>
  <%= @drawing.change_descr %>
</p>
<p>
  <strong>Modified By:</strong>
  <%= @drawing.modified_by %>
</p>
<p>
  <strong>Modified At:</strong>
  <%= @drawing.modified_at %>
</p>
<p>
  <strong>Bom Flag:</strong>
  <%= @drawing.bom_flag %>
</p>

<p>
  <%= link_to "Edit", edit_drawing_path(@drawing) %> |
  <%= link_to "Destroy", @drawing, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", drawings_path %>
</p>
