<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <title>PLM Explorer for rgd</title>

  <!--
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  -->

  <%= stylesheet_link_tag 'style', 'formalize' %>
  <%= stylesheet_link_tag 'south-street/jquery-ui-1.8.14.custom.css' %>
  <%= stylesheet_link_tag 'ui.jqgrid.css' %>
  <%= stylesheet_link_tag 'application.css' %>

  <%= javascript_include_tag 'libs/modernizr-2.0.min' %>
  <%= javascript_include_tag 'libs/respond.min' %>
  <%= csrf_meta_tag %>
</head>

<body id="main">
  <div class="ui-layout-center">
    <%= render 'partials/center' -%>
  </div>
  <div class="ui-layout-north">
    <%= render 'partials/north' -%>
  </div>
  <div class="ui-layout-west">
    <%= render 'partials/west' -%>
  </div>
  <div class="ui-layout-east">
    <%= render 'partials/east' -%>
  </div>
  <div class="ui-layout-south">
    <%= render 'partials/south' -%>
  </div>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
  <script>window.jQuery.ui || document.write('<script src="/javascripts/libs/jquery-ui-1.8.14.custom.min.js"><\/script>')</script>

  <%= javascript_include_tag 'jquery_ujs', 'plugins' %>
  <%= javascript_include_tag 'autocomplete-rails', 'jquery.formalize.min' %>
  <%= javascript_include_tag 'jquery.layout-latest', 'i18n/grid.locale-en', 'jquery.jqGrid.min' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
